# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Backblaze B2 Storage
B2_KEY_ID=
B2_APPLICATION_KEY=
B2_BUCKET_NAME=
B2_ENDPOINT=s3.us-east-005.backblazeb2.com
