rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow public read for thumbnails if needed, but better to keep them private
    // and use getDownloadURL which generates a signed token.
  }
}
